# Documents/**
# Documents
# Desktop/**
# Desktop
# Music/**
# Music
# Pictures/**
# Pictures
# Videos/**
# Videos
# Downloads/**
# Downloads
# Public/**
# Public
# Templates/**
# Templates

# gitclones
# projects
# Projects
# snap

# .cache
# .gnupg
# .pki
# .ssh
# .fehbg
# .vboxclient*
# core
# .wget-hsts
# .sudo_as_admin_successful

*
!.atom
!.atom/**

!.config
!.config/cmus
!.config/cmus/**
.config/cmus/autosave
.config/cmus/command-history
.config/cmus/cache
.config/cmus/lib.pl
.config/cmus/search-history
.config/cmus/playlists
.config/cmus/playlists/**
!.config/gtk-3.0
!.config/gtk-3.0/**
!.config/gtk-2.0
!.config/gtk-2.0/**
!.config/htop
!.config/htop/**
!.config/i3
!.config/i3/**
!.config/neofetch
!.config/neofetch/**
!.config/qutebrowser
!.config/qutebrowser/**
!.config/Thunar
!.config/Thunar/**
!.config/alacritty.yml
!.config/alacritty.yml/**
!.config/compton.conf
!.config/compton.conf/**
!.config/BetterDiscord
!.config/BetterDiscord/**
.config/BetterDiscord/data/**
!.config/BetterDiscord/data/stable/
!.config/BetterDiscord/data/stable/**

!.bash_logout
!.bash_profile
!.bashrc
!.profile
!.Xauthority
!.Xclients
!.xinitrc

!wallpaper.png
!wallpapers
!wallpapers/**

!.gitignore

!install_conf.sh
